
/*
		font-family: 'Roboto', sans-serif;
Color Palette 
		#A2D6F8  Primary Color - Sky Blue; header, image border treatment
		#E5E5E5  Primary Color- Light gray; footer, box shadows
		#6D6D6D  Primary Color - Grey; Menu item text
		#000000  Primary Color - Black; Body text
		#009AFB  Accent Color - Medium Blue; icon background
		#0088CB Accent Color - Dark blue; footer buttons, box shadows, star ratings
		#8C1B1B  Accent Color - maroon; links, buttons
		#008ac5 Accent color - Dark blue; box shadows, star ratings
		#fff Background and Accent color - white; page background, button text


*/



body {
    background-color: #fff;
}

.container section {
    width: 80%;
    margin: auto;
}

section ul {
    display: flex; /*so items sit side by side*/
    list-style-type: none;
    margin: 1em 0;
}

section li {
    border: solid 1px #999;
    padding: 1rem;
    margin-right: 1rem;
}

.light {
    background-color: #fffaee;
    color: #4e385e;
}

.dark {
    background-color: #333;
    color: #ffe68c;
}

#icons img {
    width: 80%;
}

#icons .sgBox{
    width: 200px;
    min-height: 200px;
}

/*Colors*/
#colors li {
    width: 150px;
    height: 180px;
    /*padding: 0;*/
}

#colors p {
    display: block;
    text-align: center;
    padding: .2em;
    background-color: #fff;
}

#colors li.base {
    background-color: #801917;
}

#colors li.yel {
    background-color: #A5DEFA;
}

#colors li.blue {
    background-color: #CFE3F2;
}

#colors li.purp {
    background-color: #C7D2D7;
}

#colors li.red {
    background-color: #A19EA5;
}

#colors li.red2 {
    background-color: #1F9CEC;
}



